<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/favicon.png" type="image/x-icon">
     <!-- <meta name="x-server-env" content="production"> -->
   <meta name="x-server-env" content="test">
    <!--<meta name="x-server-env" content="dev">-->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"
    />
    <title>阅读详情</title>
    <link rel="stylesheet" type="text/css" href="//s.xiaoyuanhao.com/common/css/antd-mobile-modal.css"/>
    <link rel="stylesheet" href="//s.xiaoyuanhao.com/css/weui/1.0.1/style/weui.min.css">
    <link rel="stylesheet" href="//s.xiaoyuanhao.com/weui-x/1.1.4/index.min.css">

    <!--<script type="text/javascript" src="//pv.sohu.com/cityjson?ie=utf-8"></script>-->
    <!--<script type="text/javascript" src="//s.xiaoyuanhao.com/front-end-monitor/1.4.4/tracker.js"></script>-->

    <script src="http://res2.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script src="//s.xiaoyuanhao.com/weui-x/1.2.10/authcenter.js"></script>

    <!-- 手机端调试工具 -->
    <script src="//s.xiaoyuanhao.com/eruda/1.5.2/eruda.min.js"></script>
    <script>
      eruda.init();
    </script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
